# Load interval data

In [1]:
!pip install pandas matplotlib tqdm
import pandas
import matplotlib.pyplot as plt
from tqdm import tqdm

Requirement already satisfied: pandas in ./env/lib/python3.8/site-packages (1.0.0)
Requirement already satisfied: matplotlib in ./env/lib/python3.8/site-packages (3.1.2)
Requirement already satisfied: tqdm in ./env/lib/python3.8/site-packages (4.42.0)
Requirement already satisfied: numpy>=1.13.3 in /usr/lib/python3.8/site-packages (from pandas) (1.18.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in ./env/lib/python3.8/site-packages (from pandas) (2019.3)
Requirement already satisfied: cycler>=0.10 in ./env/lib/python3.8/site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in ./env/lib/python3.8/site-packages (from matplotlib) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/lib/python3.8/site-packages (from matplotlib) (2.4.6)
Requirement already satisfied: six>=1.5 in /usr/lib/python3.8/site-packages (from python-dateutil>=2.6.1->pandas) (1.14.0)
Requirement already satisfied: setuptools in ./env/lib/python3.8/site-packages (from kiwisolver>=1.0.1->matplotlib) (41.2.0)

In [2]:
frame = pandas.read_csv('bulk_intervals_3000.csv')

In [3]:
frame['start'] = pandas.to_datetime(frame['start'], unit='s')

In [4]:
frame

          meter_uid               start  duration   kwh
0               919 2018-01-23 16:00:00      3600  0.80
1               919 2018-01-23 17:00:00      3600  0.64
2               919 2018-01-23 18:00:00      3600  0.80
3               919 2018-01-23 19:00:00      3600  0.61
4               919 2018-01-23 20:00:00      3600  1.13
...             ...                 ...       ...   ...
79530732       5774 2020-01-19 11:00:00      3600  0.34
79530733       5774 2020-01-19 12:00:00      3600  0.34
79530734       5774 2020-01-19 13:00:00      3600  0.34
79530735       5774 2020-01-19 14:00:00      3600  0.34
79530736       5774 2020-01-19 15:00:00      3600  0.34

[79530737 rows x 4 columns]

# Group by meter ID, starting time

In [5]:
frame = frame.set_index(['meter_uid', 'start'])

In [6]:
frame

                               duration   kwh
meter_uid start
919       2018-01-23 16:00:00      3600  0.80
          2018-01-23 17:00:00      3600  0.64
          2018-01-23 18:00:00      3600  0.80
          2018-01-23 19:00:00      3600  0.61
          2018-01-23 20:00:00      3600  1.13
...                                 ...   ...
5774      2020-01-19 11:00:00      3600  0.34
          2020-01-19 12:00:00      3600  0.34
          2020-01-19 13:00:00      3600  0.34
          2020-01-19 14:00:00      3600  0.34
          2020-01-19 15:00:00      3600  0.34

[79530737 rows x 2 columns]

# Plot data

In [25]:
import datetime as dt
for meter, sub_frame in tqdm(frame.groupby(level=0)):
    sub_frame = sub_frame.reset_index()
    sub_frame['datetime'] = sub_frame['start'].dt.date
    sub_frame['hour'] = sub_frame['start'].dt.hour
    sub_frame['datetime'] += panda sub_frame['hour']
    print(sub_frame)
    del sub_frame['hour']
    sub_frame['datetime'] = pandas.to_datetime(sub_frame['datetime'])
    del sub_frame['start']
    del sub_frame['duration']
    sub_frame = sub_frame.set_index(['meter_uid', 'datetime'])
    print(sub_frame)
    break

  0%|          | 0/3101 [00:01<?, ?it/s]

       meter_uid               start  duration   kwh    datetime  hour
0            919 2018-01-23 16:00:00      3600  0.80  2018-01-23    16
1            919 2018-01-23 17:00:00      3600  0.64  2018-01-23    17
2            919 2018-01-23 18:00:00      3600  0.80  2018-01-23    18
3            919 2018-01-23 19:00:00      3600  0.61  2018-01-23    19
4            919 2018-01-23 20:00:00      3600  1.13  2018-01-23    20
...          ...                 ...       ...   ...         ...   ...
17393        919 2020-01-19 11:00:00      3600  0.78  2020-01-19    11
17394        919 2020-01-19 12:00:00      3600  0.51  2020-01-19    12
17395        919 2020-01-19 13:00:00      3600  0.61  2020-01-19    13
17396        919 2020-01-19 14:00:00      3600  0.74  2020-01-19    14
17397        919 2020-01-19 15:00:00      3600  0.48  2020-01-19    15

[17398 rows x 6 columns]
                       kwh
meter_uid datetime
919       2018-01-23  0.80
          2018-01-23  0.64
          2018-01-23  0.80
          2018-01-23  0.61
          2018-01-23  1.13
...                    ...
          2020-01-19  0.78
          2020-01-19  0.51
          2020-01-19  0.61
          2020-01-19  0.74
          2020-01-19  0.48

[17398 rows x 1 columns]

WARNING:root:Limited tf.compat.v2.summary API due to missing TensorBoard installation.
WARNING:root:Limited tf.compat.v2.summary API due to missing TensorBoard installation.
WARNING:root:Limited tf.compat.v2.summary API due to missing TensorBoard installation.
WARNING:root:Limited tf.compat.v2.summary API due to missing TensorBoard installation.
WARNING:root:Limited tf.compat.v2.summary API due to missing TensorBoard installation.
WARNING:root:Limited tf.compat.v2.summary API due to missing TensorBoard installation.
WARNING:root:Limited tf.summary API due to missing TensorBoard installation.

WARNING:tensorflow:From <ipython-input-8-4a3f57d5652e>:2: is_gpu_available (from tensorflow.python.framework.test_util) is deprecated and will be removed in a future version.
Instructions for updating:
Use `tf.config.list_physical_devices('GPU')` instead.

WARNING:tensorflow:From <ipython-input-8-4a3f57d5652e>:2: is_gpu_available (from tensorflow.python.framework.test_util) is deprecated and will be removed in a future version.
Instructions for updating:
Use `tf.config.list_physical_devices('GPU')` instead.

True